<% @connections["all"].first(10).each do |connection| %>

	<% if connection["picture_url"] %>
<%= image_tag connection["picture_url"] %>
<span class="bold"><%= connection["first_name"] %></span>
<%= connection["industry"]%><br/>
	<% end %>
	

<% end %>