<div class="dude_pic">
	 <div class="sub_head">
	 	Connect. Shake. Hire.
	 </div>  <!-- sub_head -->
	
	<%= link_to image_tag('dude.png'), '/auth/linked_in',  "rel" => "external" %> 
	
</div>  <!-- dude_pic -->
<div class="sub_head">
	It's business time.
</div>  <!-- subhead -->
