.dude_pic {
	text-align: center;
	padding-top: 10px;
}

.logo {
	text-align: center;
	height: 60px;
}

.sub_head {
	font-size: 20px;
	letter-spacing: -.09em;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
	text-align: center;
}